.form {
    position: relative;

    &__input {
        height: 64px;
        padding: 18px 195px 18px 28px;
        width: 100%;
        background-color: white;
        border: 1px solid #cdcdcd;
        border-radius: 32px;
    }

    &__btn {
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 14px 20px;
        width: 180px;
        border: none;
        cursor: pointer;
    }
}