.form {
    position: relative;

    &__label {
        display: block;
        font-size: 0px;
        line-height: 0;
        height: 0;
    }

    &__input {
        height: 64px;
        padding: 18px 195px 18px 28px;
        width: 100%;
        background-color: white;
        border: 1px solid #cdcdcd;
        border-radius: 32px;
        font-size: 13px;

        @include maxw576 {
            padding: 18px 130px 18px 7px;
        }
    }

    &__btn {
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 14px 10px;
        width: 180px;
        border: none;
        cursor: pointer;

        @include maxw576 {
            width: 120px;
        }
    }
}