.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__inner {
        justify-content: space-between;
        align-items: center;
        height: 88px;
    }

    &__link {
        min-width: 240px;
        color: $orange;
    }
}