.register {
    position: relative;
    padding: 130px 0;
    height: 503px;
    background-image: url('../images/register-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include maxw992 {
        padding: 45px 0;
    }

    &__inner {
        max-width: 500px;
        width: 100%;
    }

    &__title {
        margin-bottom: 130px;
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;

        @include maxw1200 {
            font-size: 38px;
        }

        @include maxw768 {
            font-size: 34px;
        }
    }

    &__form {
        max-width: 480px;

        @include maxw992 {
            position: absolute;
            bottom: 45px;
        }

        @include maxw576 {
            max-width: 100%;
            width: calc(100% - 30px);
        }
    }
}