.hero {
    position: relative;
    height: 940px;
    background-image: url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 162px;
        width: 105vw;
        background-image: url('../images/hero-bottom.png');
        background-repeat: no-repeat;
        background-position: bottom -135px center;
        background-size: cover;
    }

    &__container {
        position: relative;
        height: 100%;
        align-items: center;

        @include maxw992 {
            padding-top: 95px;
        }
    }

    &__title-wrapper {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-between;
        padding: 0 15px;
        max-width: 1240px;
        width: 100%;
        color: white;
        
        @include maxw992 {
            position: static;
            transform: translateX(0);
            flex-direction: column;
        }
    }

    &__inner {
        position: absolute;
        bottom: 40%;
        justify-content: space-between;
        width: 100%;
    }

    &__title-part {
        font-family: "Futura";
        text-transform: uppercase;
        font-size: 120px;
        font-weight: 500;
        line-height: 124px;

        @include maxw992 {
            font-size: 100px;
            line-height: 104px;
        }

        @include maxw768 {
            font-size: 82px;
            line-height: 86px;
        }

        @include maxw576 {
            font-size: 72px;
            line-height: 76px;
        }
    }

    &__box {
        max-width: 275px;
        width: 100%;
        color: white;
    }

    &__text {
        margin-bottom: 42px;
    }

    &__link {
        min-width: 240px;
    }

    &__social {
        padding-right: 30px;
    }

    &__social-list {
        flex-direction: column;
    }

    &__social-item {
        &+& {
            margin-top: 23px;
        }
    }
}