.subscribe {
    padding: 32px 0;

    &__container {
        max-width: 990px;
    }

    &__inner {
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        max-width: 480px;
        width: 100%;
    }

    &__title {
        margin-bottom: 32px;
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 35px;
        color: $gray;
    }
}